@model IEnumerable<TicketSystem_Concert.DAL.Entities.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Bichota</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Boleta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UseData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntranceGate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var ticket in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => ticket.UseData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ticket.IsUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ticket.EntranceGate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@ticket.Id" class="btn btn-outline-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-outline-info">Details</a>
                <a asp-action="Delete" asp-route-id="@ticket.Id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
